/*======================== GOOGLE FONTS ==========================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  --bg-color: #2d2d2e;
  --second-bg-color:  #393f4d;
  --text-color: #edf5e1;
  --main-color: #0ef;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--bg-color);
  color: var(--text-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav__menu a:hover,
.nav__menu a.active{
  color: var(--main-color);
}
.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}
/*=============== SPLASH SCREEN ===============*/
.intro{
  position: fixed;
  z-index: 999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  transition: 1s;
}
.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.Nlogo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.Nlogo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.Nlogo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
/* =============== SLIDER =============== */
.main {
  height: 100vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}
/* =============== PRODUCT SECTION =============== */
.product{
  background-color: var(--black-color-lighten);
}
img{
  width: 100%;
  display: block;
}
.main-wrapper{
  min-height: 100vh;
  background-color: var(--black-color-lighten);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
.product-div{
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #000000;
  border-radius: 3px;
  column-gap: 10px;
  border-radius: 3%;
}
.product-div-left{
  padding: 20px;
}
.product-div-right{
  padding: 20px;
}
.img-container img{
  width: 250px;
  margin: 0 auto;
}
.hover-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}
.hover-container div{
  border: 2px solid rgba(221, 218, 218, 0.7);
  padding: 1rem;
  border-radius: 3px;
  margin: 0 3px 7px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active{
  border-color: rgba(221, 218, 218, 0.7)!important;
}
.hover-container div:hover{
  border-color: var(--main-color);
}
.hover-container div img{
  width: 50px;
  cursor: pointer;
}
.product-div-right span{
  display: block;
}
.product-name{
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
}
.product-price{
  font-weight: 700;
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
}
.product-rating{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.product-rating span{
  margin-right: 6px;
}
.product-description{
  font-weight: 18px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
}
.btn-groups{
  margin-top: 22px;
}
.btn-groups button{
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 15px 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-groups button .fas{
  margin-right: 8px;
}
.add-cart-btn{
  background-color: #FF9F00;
  border: 2px solid #FF9F00;
  margin-right: 8px;
}
.add-cart-btn:hover{
  background-color: #fff;
  color: #FF9F00;
}
.buy-now-btn{
  background-color: #000;
  border: 2px solid #000;
}
.buy-now-btn:hover{
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 992px){
  .product-div{
      grid-template-columns: 100%;
  }
  .product-div-right{
      text-align: center;
  }
  .product-rating{
      justify-content: center;
  }
  .product-description{
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
  }
}

@media screen and (max-width: 400px){
  .btn-groups button{
      width: 100%;
      margin-bottom: 10px;
  }
}
/* =============== MAIN PRODUCT SECTION =============== */
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.product h2{
  margin-bottom: 5rem;
}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-container .product-box{
flex: 1 1 30rem;
background: var(--black-color);
padding: 3rem 2rem 4rem;
border-radius: 2rem;
text-align: center;
border: .2rem solid var(--black-color-lighten);
transition: .5s ease;
}

.product-container .product-box:hover {
border-color: var(--main-color);
transform: scale(1.02);
}

.product-box h3{
  font-size: 2.6rem;
}

.product-box p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.Pimage{
  width: 35rem;
  height: 38rem;
  border-radius: 2rem;
  margin: 1.5rem;
  padding: 0;
}
/* =============== ABOUT SECTION =============== */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
.about-content h2{
  line-height: 1.2;
  text-align: left;
}

.about-content h3{
  font-size: 2.6rem;
}

.about-content p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
/* =============== CONTACT FORM =============== */
.contact{
  background-color:  #393f4d;
}
.contact h2 {
  margin-bottom:  3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--white-color);
  background: var(--black-color-lighten);
  border-radius: .8rem;
  margin: .7rem 0;
  border: .2rem solid var(--black-color);
}
.textarea2:hover{
  border-color: var(--main-color);
  transform: scale(1.02);
}
.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

span{
  color: var(--main-color);
}
.btn{
  display: inline-flex;
  padding:1rem 2.8rem ;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover{
  box-shadow: none;
}
/* =============== FOOTER SECTION =============== */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--black-color);
}

.footer-text p {
font-size: 1.6rem;
}

.footer-iconTop a {
display: inline-flex;
justify-content: center;
align-items: center;
padding: .8rem;
background: var(--main-color);
border-radius: .8rem;
transition: .5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}
/* =============== SOCIAL ICON =============== */
.social-icons{
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.social-icons img{
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}
/* =============== BREAK POINT =============== */
@media (max-width: 1200px) {
  /* html{
    font-size: 55%;
  } */
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }

  .product {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
 .about {
  flex-direction: column;
 }

 .product h2 {
  margin-bottom: 3rem;
 }
}
@media (max-width: 450px) {
  /* html{
    font-size: 50%;
  } */

  .contact form .input-box input {
    width: 100%;
  }
  .Pimage{
    width: 27rem;
    height: 30rem;
    border-radius: 1.2rem;
    margin: 1rem;
    padding: 0;
  }
}

@media (max-width: 365px) {
   .footer {
    flex-direction: column;
   }

   .footer p{
    text-align: center;
    margin-top: 3rem;  
   }
}

/* =============== ICON =============== */